@import "tailwindcss";

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

* {
    font-family: "Space Grotesk";
}

body {
    background-color: #1e1e1e;
}

/* default is 400px and below when developing (small screen first) */
@theme {
    --breakpoint-phone: 400px;
    --breakpoint-tablet: 600px;
    --breakpoint-desktop: 1000px;
}
