.main {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 8vh 10vh 70vh;
    grid-template-areas:
        "  head   "
        "  greet   "
        "  category   "
        "  cuisine   ";
}

.cuisine-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(10rem, auto);
    gap: 1.5rem;
}

.head {
    grid-area: head;
}
.greet {
    grid-area: greet;
}
.category {
    grid-area: category;
}
.cuisine {
    grid-area: cuisine;
}
