.main {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 11vh 89vh;
    grid-template-areas:
        "   head   "
        "   order-list   ";
}

.head {
    grid-area: head;
}

.order-list {
    grid-area: order-list;

    display: grid;
    grid-template-columns: 100vw;
    grid-auto-rows: minmax(8rem, auto);
}
