/* Loading Animations */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes backgroundAnimation {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@keyframes title {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Popup and notifications animation */
@keyframes popUp {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}
@keyframes popClose {
    from {
        scale: 1;
    }
    to {
        scale: 0;
    }
}

@keyframes notification {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveToBasket {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    60% {
        transform: translateY(0) scale(0.9);
        opacity: 0.9;
    }
    70% {
        transform: translateY(40%) scale(0.8);
        opacity: 0.7;
    }
    100% {
        transform: translateY(90%) scale(0);
        opacity: 0;
    }
}
@keyframes scrollDropLeft {
    from {
        height: 0;
    }
    to {
        height: 33rem;
    }
}

@keyframes scrollDropRight {
    from {
        height: 0;
    }
    to {
        height: 25rem;
    }
}
@keyframes scrollDropLeftClose {
    from {
        max-height: 33rem;
    }
    to {
        max-height: 0rem;
    }
}

@keyframes scrollDropRightClose {
    from {
        max-height: 25rem;
    }
    to {
        max-height: 0rem;
    }
}

@keyframes textStartDrop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes textClose {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes pendingDropClose {
    from {
        max-height: 32rem;
    }
    to {
        max-height: 0rem;
    }
}
@keyframes pendingDrop {
    from {
        height: 0;
    }
    to {
        height: 32rem;
    }
}
@keyframes pendingHandleDropClose {
    from {
        max-height: 2.5rem;
    }
    to {
        max-height: 0rem;
    }
}
@keyframes pendingHandleDrop {
    from {
        height: 0;
    }
    to {
        height: 2.5rem;
    }
}
