@import "tailwindcss";
@import "./animations.css";
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

* {
    font-family: "Space Grotesk";
}

body {
    background-color: #1e1e1e;
}

/* default is 390px and below when developing (small screen first) */

@utility cam-ctrl-btn {
    @apply text-white/60 font-semibold text-[0.9rem] p-3 border-1 border-white/50 rounded-md;
}

@theme {
    --color-lightbrown: #9a7e57;
    --color-darkbrown: #665237;
    --color-darkred: #7a1a00;
    --color-lightred: #ad2500;
    --color-darkgreen: #075500;
    --color-lightgreen: #1f8400;
    --color-softblack: #2c2c2c;
}

@layer utilities {
    .text-primary {
        color: #f5f5f5;
        font-size: 1.2rem;
        font-weight: 400;
    }
    .text-secondary {
        color: #c1c1c1;
        font-size: 0.9rem;
        font-weight: 250;
    }

    .text-primary-dark {
        color: #1b1b1b;
        font-size: 1.2rem;
        font-weight: 400;
    }
    .text-primary-dark {
        color: #242424;
        font-size: 0.9rem;
        font-weight: 250;
    }

    .text-shadow-sm {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    .text-shadow-md {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .text-shadow-lg {
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    }
    .text-inner-shadow-sm {
        text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
    }
    .text-inner-shadow-md {
        text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
    }
    .text-inner-shadow-lg {
        text-shadow: -3px -3px 6px rgba(0, 0, 0, 0.7);
    }

    .custom-scrollbar {
        scrollbar-width: none;
        scrollbar-color: #6b7280 #e5e7eb;
    }

    .thin-scrollbar {
        scrollbar-width: thin; /* Firefox */
        scrollbar-color: rgba(255, 255, 255, 0.3) transparent; /* Firefox */
    }

    .thin-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .thin-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .thin-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 9999px;
        border: 1px solid transparent;
    }

    .thin-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.pending-list-shadow {
    box-shadow: -2px 2px 2px rgba(255, 255, 255, 0.3);
}
.pending-list-shadow:hover {
    box-shadow:
        -2px 2px 5px rgba(255, 255, 255, 0.3),
        -3px 3px 0 rgba(255, 255, 255, 0.1),
        -4px 4px 5px rgba(255, 255, 255, 0.3) !important;
}

.pop-up-animation {
    animation: popUp 0.2s ease-in-out;
}
.pop-close-animation {
    animation: popClose 0.2s ease-in-out;
}

.notification-animation {
    animation: notification 0.2s ease-out;
}

.button-shake-animation {
    animation: shake 0.5s ease-in-out;
}

.place-order-animation {
    animation: moveToBasket 1.5s ease-in-out;
}

.left-scroll-animation {
    animation: scrollDropLeft 0.5s ease-in-out;
}
.right-scroll-animation {
    animation: scrollDropRight 0.5s ease-in-out;
}
.left-scroll-close-animation {
    animation: scrollDropLeftClose 0.5s ease-in-out;
}
.right-scroll-close-animation {
    animation: scrollDropRightClose 0.5s ease-in-out;
}
.text-drop-animation {
    animation: textStartDrop 0.3s ease-in-out 0.35s forwards;
}
.text-close-animation {
    animation: textClose 0.3s ease-in-out forwards;
}
.pending-payment-animation {
    animation: pendingDrop 0.5s ease-in-out;
}
.pending-payment-close-animation {
    animation: pendingDropClose 0.5s ease-in-out;
}
.pending-handle-animation {
    animation: pendingHandleDrop 0.5s ease-in-out;
}
.pending-handle-close-animation {
    animation: pendingHandleDropClose 0.5s ease-in-out;
}

.category-btn {
    box-shadow:
        -2px 2px 3px rgba(255, 255, 255, 0.2),
        -3px 3px 0 rgba(255, 255, 255, 0.1),
        -4px 4px 3px rgba(255, 255, 255, 0.2) !important;
    transform: translate(5px, -3px);
}
.typing-demo {
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #2c2c2c;
    animation:
        typing 15s steps(18) 6s infinite alternate,
        blink 0.75s step-end infinite;
}

.to-left-animation {
    animation: toLeft 0.25s ease-in;
}
.to-right-animation {
    animation: toRight 0.25s ease-in;
}

.to-left-close-animation {
    animation: toLeftReverse 0.25s ease-out;
}
.to-right-close-animation {
    animation: toRightReverse 0.25s ease-out;
}
.text-pop-up-animation {
    animation: textPopup 0.4s ease-in;
}

.text-pop-close-animation {
    animation: textPopup 0.2s ease-out reverse;
}
